<%- include('../layouts/header', {title: 'เพิ่มพนักงาน'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<%- include('../layouts/sidebar',{active:'user'}); -%>
<%- include('../layouts/topbar'); -%>


<!-- contenr -->

<div class="content">
    <div class="title margin-top-30">
        <span><i class="fas fa-user-shield "></i> เพิ่มพนักงาน</span>
        <div class="line"></div>
    </div>

    <div style="display: flex;justify-content: center;">
        <div style="max-width: 600px;width: 100%;">
            <label class="header">บัญชีพนักงาน</label>
            <form id="form" onsubmit="return validateForm()" action="/user/insertUser" method="post">
                <div style="padding-left: 20px;padding-top: 20px;">
                    <div class="form-group">
                        <label for="inputAddress">ชื่อพนักงาน</label>
                        <input type="text" class="form-control" name="username" maxlength="12">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">รหัสผ่าน</label>
                        <input type="password" class="form-control" name="password" id="password" maxlength="12">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">ยืนยันรหัสผ่าน</label>
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                            maxlength="12">
                    </div>
                </div>


                <label class="header">ข้อมูลพนักงาน</label>
                <div style="padding-left: 20px;padding-top: 20px;">
                    <div class="form-group">
                        <label for="inputEmail4">เลขบัตรประชาชน</label>
                        <input type="text" class="form-control" name="idCard" id="idCard" maxlength="13">
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ชื่อ</label>
                            <input type="text" class="form-control" name="firstname" maxlength="18">
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">นามสกุล</label>
                            <input type="text" class="form-control" name="lastname" maxlength="18">
                        </div>

                    </div>



                    <div class="form-group">
                        <label for="inputAddress">เบอร์โทร</label>
                        <input type="text" class="form-control" name="tel" id="tel" maxlength="10">

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ที่อยู่</label>
                            <input type="text" class="form-control" name="address" maxlength="25">
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">ถนน</label>
                            <input type="text" class="form-control" name="street" maxlength="25">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ตำบล/เขต</label>
                            <input type="text" class="form-control" name="subdistrict" maxlength="20">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">อำเภอ</label>
                            <input type="text" class="form-control" name="district" maxlength="20">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col">
                            <label for="inputEmail4">จังหวัด</label>
                            <select class="form-control" name="province">
                                <option selected disabled>เลือกจังหวัด</option>
                                <option>ตราด</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" name="zipCode" id="zipCode" maxlength="5">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ตำแหน่งงาน</label>
                            <input type="text" class="form-control" name="position" maxlength="15">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">เงินเดือน</label>
                            <input type="number" class="form-control" name="salary" id="salary">
                        </div>
                    </div>
                    <button type="submit" class="btn-green btn-full"><span><i class="fas fa-save"></i>
                            บันทึก</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- contenr -->




</body>

</html>
<%- include('../layouts/javascript'); -%>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function validateForm() {
        var x = document.getElementById("form").getElementsByClassName("form-control");
        var password = document.getElementById("password").value;
        var confirmpassword = document.getElementById("confirmpassword").value;
        var email = document.getElementById("email").value;
        console.log(x);
        console.log(email);
        for (var i = 0; i < x.length; i++) {
            console.log(x[i].value)
            if (x[i].value == "") {
                swal({
                    title: "",
                    text: "กรุณากรอกข้อมูลให้ครบถ้วน",
                    icon: "error",
                    button: "ตกลง",

                })
                return false;
            }

        }

        if (isValidEmailAddress(email) == false) {
            swal({
                title: "",
                text: "อีเมลไม่ถูกต้อง",
                icon: "error",
                button: "ตกลง",

            })
            return false;
        }

        if (password != confirmpassword) {
            swal({
                title: "",
                text: "รหัสผ่านและยืนยันรหัสผ่านไม่ตรงกัน",
                icon: "error",
                button: "ตกลง",

            })
            return false;
        }
    }

    function isValidEmailAddress(emailAddress) {
        return /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(emailAddress);
    };


    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#idCard,#tel,#zipCode,#salary").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("กรุณากรอกเลชบัตรประชาชนให้ถูกต้อง").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>