<%- include('../layouts/header', {title: 'แก้ไขข้อมูลลูกค้า'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<%- include('../layouts/sidebar',{active:'customer'}); -%>
<%- include('../layouts/topbar'); -%>






<!-- content -->



<div class="content">
    <div class="title margin-top-30">
        <span><i class="fas fa-home "></i> แก้ไขข้อมูลลูกค้า</span>
        <div class="line"></div>
    </div>



    <div style="display: flex;justify-content: center;">
        <div style="max-width: 600px;width: 100%;">
            <label class="header">ข้อมูลลูกค้า</label>

            <form method="post" id="form" onsubmit="return validateForm()" action="/customer/edit/submit">
                <div style="padding-left: 20px;padding-top: 20px;">

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ชื่อ</label>
                            <input type="text" class="form-control" required name="firstname"
                                value="<%= result.firstname %>" maxlength="30">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">นามสกุล</label>
                            <input type="text" class="form-control" required name="lastname"
                                value="<%= result.lastname %>" maxlength="30">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputAddress">เลขประจำตัวประชาชน/เลขผู้เสียภาษี</label>
                        <input type="text" class="form-control" required name="idCard" id="idCard"
                            value="<%= result.idCard %>" readonly style="background-color: #f4f4f4" maxlength="13">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">วัน เดือน ปีเกิด</label>
                        <input type="date" class="form-control" required name="birthday" id="birthday"
                            value="<%= result.birthday.getFullYear().toString() %>/<%= result.birthday.getMonth().toString() %>/<%= result.birthday.getDate().toString() %>">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">E-mail</label>
                        <input type="text" class="form-control" required name="email" id="email"
                            value="<%= result.email %>" maxlength="30">
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" required name="tel" id="tel" value="<%= result.tel %>"
                            maxlength="10">
                    </div>



                    <div class="form-row">

                        <div class="form-group col">
                            <label for="inputEmail4">บ้านเลขที่</label>
                            <input type="text" class="form-control" required name="addressNumber"
                                value="<%= result.address.addressNumber %>" maxlength="30">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">ถนน</label>
                            <input type="text" class="form-control" required name="street"
                                value="<%= result.address.street %>" maxlength="30">
                        </div>

                    </div>


                    <div class="form-row">

                        <div class="form-group col">
                            <label for="inputEmail4">ตำบล/เขต</label>
                            <input type="text" class="form-control" required name="subdistrict"
                                value="<%= result.address.subdistrict %>" maxlength="30">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">อำเภอ</label>
                            <input type="text" class="form-control" required name="district"
                                value="<%= result.address.district %>" maxlength="30">
                        </div>

                    </div>


                    <div class="form-row">

                        <div class="form-group col">
                            <label for="inputEmail4">จังหวัด</label>
                            <select class="form-control" required name="province" id="province"
                                value="<%= result.address.province %>">
                                <option disabled>เลือกจังหวัด</option>
                                <option value="ชลบุรี">ชลบุรี</option>
                                <option value="จันทบุรี">จันทบุรี</option>
                                <option value="ตราด">ตราด</option>
                            </select>
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" required name="zipCode" id="zipCode"
                                value="<%= result.address.zipCode %>" maxlength="5">
                        </div>

                    </div>

                    <button class="btn-green btn-full" type="submit"><span><i class="fas fa-save"></i>
                            บันทึก</span></button>

                </div>
            </form>

        </div>
    </div>
</div>



<!-- contenr -->









</body>



</html>
<%- include('../layouts/javascript'); -%>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script>
    // Date
    var date = ('<%= result.birthday.getDate() %>').padStart(2, '0');
    var year = '<%= result.birthday.getFullYear() %>'
    var month = ('<%= result.birthday.getMonth() %>').padStart(2, '0');
    var fulldate = year + "-" + month + "-" + date
    document.getElementById("birthday").value = fulldate;
    // Date

    if ('<%= result.address.province %>') {
        document.getElementById("province").value = '<%= result.address.province %>';
    }

    function validateForm() {
        var x = document.getElementById("form").getElementsByClassName("form-control");
        var email = document.getElementById("email").value;
        console.log(x);
        console.log(email);
        for (var i = 0; i < x.length; i++) {
            console.log(x[i].value)
            if (x[i].value == "") {
                swal("", "กรุณากรอกข้อมูลให้ครบถ้วน", "error")
                return false;
            }

        }

        if (isValidEmailAddress(email) == false) {
            swal("", "อีเมลไม่ถูกกต้อง", "error")
            return false;
        }
    }

    function isValidEmailAddress(emailAddress) {
        return /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(emailAddress);
    };


    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#idCard,#tel,#zipCode").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("กรุณากรอกเลชบัตรประชาชนให้ถูกต้อง").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>