<%- include('../layouts/header', {title: 'เพิ่มผู้ใช้งาน'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<%- include('../layouts/sidebar',{active:'user'}); -%>
<%- include('../layouts/topbar'); -%>

<!-- contenr -->

<div class="content">
    <div class="title margin-top-30">
        <span><i class="fas fa-user-shield "></i> แก้ไขผู้ใช้งาน</span>
        <div class="line"></div>
    </div>

    <div style="display: flex;justify-content: center;">
        <div style="max-width: 600px;width: 100%;">
            <label class="header">บัญชีผู้ใช้</label>
            <form id="form" onsubmit="return validateForm()" action="/user/edit/submit" method="POST">
                <div style="padding-left: 20px;padding-top: 20px;">
                    <div class="form-group">
                        <label for="inputAddress">ชื่อผู้ใช้งาน</label>
                        <input type="text" class="form-control" value="<%= result.username %>" name="username" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">E-mail</label>
                        <input type="email" class="form-control" id="email" value="<%= result.email %>" name="email"
                            maxlength="30">
                    </div>

                </div>


                <label class="header">ข้อมูลผู้ใช้</label>
                <div style="padding-left: 20px;padding-top: 20px;">
                    <div class="form-group">
                        <label for="inputEmail4">เลขบัตรประชาชน</label>
                        <input type="text" class="form-control" readonly name="idCard" value="<%= result.idCard %>"
                            required maxlength="13">
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ชื่อ</label>
                            <input type="text" class="form-control" value="<%= result.firstname %>" name="firstname"
                                required maxlength="30">
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">นามสกุล</label>
                            <input type="text" class="form-control" value="<%= result.lastname %>" name="lastname"
                                required maxlength="30">
                        </div>

                    </div>



                    <div class="form-group">
                        <label for="inputAddress">เบอร์โทร</label>
                        <input type="text" class="form-control" value="<%= result.tel %>" name="tel" id="tel"
                            maxlength="10">

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ที่อยู่</label>
                            <input type="text" class="form-control" value="<%= result.address.addressNumber %>"
                                name="address" required maxlength="30">
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">ถนน</label>
                            <input type="text" class="form-control" value="<%= result.address.street %>" name="street"
                                required maxlength="30">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ตำบล/เขต</label>
                            <input type="text" class="form-control" value="<%= result.address.subdistrict %>"
                                name="subdistrict" required maxlength="30">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">อำเภอ</label>
                            <input type="text" class="form-control" value="<%= result.address.district %>"
                                name="district" required maxlength="30">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col">
                            <label for="inputEmail4">จังหวัด</label>
                            <input type="text" class="form-control" value="<%= result.address.province %>"
                                name="province" required maxlength="30">
                        </div>
                        <div class="form-group col">
                            <label for="inputEmail4">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" value="<%= result.address.zipCode %>" name="zipCode"
                                id="zipCode" required maxlength="5">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">ตำแหน่งงาน</label>
                            <input type="text" class="form-control" value="<%= result.position %>" name="position"
                                required maxlength="30">
                        </div>

                        <div class="form-group col">
                            <label for="inputEmail4">เงินเดือน</label>
                            <input type="text" class="form-control" value="<%= result.salary %>" name="salary"
                                id="salary" required maxlength="7">
                        </div>
                    </div>
                    <button type="submit" class="btn-green btn-full"><span><i class="fas fa-save"></i>
                            บันทึก</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- contenr -->




</body>

</html>
<%- include('../layouts/javascript'); -%>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function validateForm() {
        var x = document.getElementById("form").getElementsByClassName("form-control");
        var email = document.getElementById("email").value;
        console.log(x);
        console.log(email);
        for (var i = 0; i < x.length; i++) {
            console.log(x[i].value)
            if (x[i].value == "") {
                swal("", "กรุณากรอกข้อมูลให้ครบถ้วน", "error")
                return false;
            }

        }

        if (isValidEmailAddress(email) == false) {
            swal("", "อีเมลไม่ถูกกต้อง", "error")
            return false;
        }
    }

    function isValidEmailAddress(emailAddress) {
        return /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(emailAddress);
    };


    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#idCard,#tel,#zipCode,#salary").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("กรุณากรอกเลชบัตรประชาชนให้ถูกต้อง").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>