<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>ลืมรหัสผ่าน</title>

    <style>
        .shadow {
            -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.75);
        }
    </style>

</head>

<body>


    <div class="triangle">


    </div>

    <div style="z-index: 1000; ; position: absolute; min-width: 500px;">
        <div style="display:flex ; justify-content: center ; align-items: center ;width:100vw ; height: 100vh; ">
            <div>

                <center> <img src="/images/logo.svg" style="width:150px"></center>
                <p style="font-size:30px ;  color:white ; text-align: center ; margin-top:10px ;text-shadow: 1px 1px">
                    ลืมรหัสผ่าน</p>

                <!-- -------- form -------- -->
                <form action="/forgerpassword" method="POST">

                    <div style="background-color:white ; width: 28vw; height: auto; border-radius: 10px ; margin-top:20px ;padding-bottom: 20px;"
                        class="shadow">
                        <div
                            style="padding-top:6% ; padding-left: 5%; padding-right: 5%;  display: flex ;justify-content: center">
                            <div style="width:90%">
                                <p>ชื่อผู้ใช้งาน</p>
                                <input
                                    style="width:100% ; border : 1px solid #CCCCCC; border-radius: 5px ;height: 30px;"
                                    id="username" name="username" maxlength="20">
                            </div>
                        </div>

                        <div
                            style="padding-top:3% ; padding-left: 5%; padding-right: 5%;  display: flex ;justify-content: center">
                            <div style="width:90%">
                                <p>รหัสผ่านใหม่</p>
                                <input
                                    style="width:100% ; border : 1px solid #CCCCCC; border-radius: 5px ;height: 30px;"
                                    id="newPassword" type="password" name="newPassword" maxlength="25">
                            </div>
                        </div>

                        <div
                            style="padding-top:3% ; padding-left: 5%; padding-right: 5%;  display: flex ;justify-content: center">
                            <div style="width:90%">
                                <p>ยืนยันรหัสผ่าน</p>
                                <input
                                    style="width:100% ; border : 1px solid #CCCCCC; border-radius: 5px ;height: 30px;"
                                    id="confirmPassword" type="password" name="confirmPassword" maxlength="25">
                            </div>
                        </div>

                        <div
                            style="padding-top:3% ; padding-left: 5%; padding-right: 5%;  display: flex ;justify-content: center">
                            <div style="width:90%">
                                <p>ยืนยันอีเมล</p>
                                <input
                                    style="width:100% ; border : 1px solid #CCCCCC; border-radius: 5px ;height: 30px;"
                                    id="email" type="email" name="email" required maxlength="30">
                            </div>
                        </div>

                        <div
                            style="margin-top:5% ; padding-left: 5%; padding-right: 5%;  display: flex ;justify-content: center">
                            <div style="width:90%">
                                <button class="btn-green btn-full"
                                    style="text-align:center ;font-size: 16px">ยืนยัน</button>
                            </div>
                        </div>

                </form>
                <!-- -------- form -------- -->

                <div
                    style="margin-top:2% ; padding-left: 5%; padding-right: 5%;  display: flex ; justify-content: center">
                    <div style="width:90% ; text-align: center">
                        เข้าสู่ระบบกรุณา<a style="text-decoration:none" href="/"> กดที่นี่</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>


</body>
<%- include('../layouts/javascript'); -%>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    if ("<%= status %>" == 1) {
        swal({
            title: "กรุณาลองใหม่อีกครั้ง",
            text: "<%= message %>",
            icon: "error",
            button: "ตกลง",
        });
    } else if ("<%= status %>" == 2) {
        swal({
            title: "สำเร็จ",
            text: "<%= message %>",
            icon: "success",
            button: "ตกลง",
        });
    }
</script>

</html>
<%- include('../layouts/javascript'); -%>