<%- include('../layouts/header', {title: 'จัดการพนักงาน'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<%- include('../layouts/sidebar',{active:'user'}); -%>
<%- include('../layouts/topbar'); -%>
<%- include('../layouts/banner'); -%>

<!-- contenr -->

<div class="content">

    <div class="title">
        <span><i class="fas fa-user-shield "></i> จัดการพนักงาน</span>
        <div class="line"></div>
    </div>



    <div class="row">
        <div class="form-group col">
            <input type="text" class="form-control" id="myInput" onkeyup="search()" placeholder="ค้นหาชื่อพนักงาน"
                maxlength="30">
        </div>
        <!-- <div class="form-group col-2">

            <button class="btn-light-green btn-full"><span><i class="fas fa-search"></i> ค้นหา</span></button>

        </div> -->
        <div class="form-group col-2">
            <a href="/user/addUser"><button class="btn-green btn-full"><span><i class="fas fa-plus-circle"></i>
                        เพิ่มพนักงาน</span></button></a>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อผู้ใช้งาน</th>
                    <th>ชื่อ - นามสกุล</th>
                    <th>E-mail</th>
                    <th>สิทธ์การใช้งาน</th>
                    <th>ตัวเลือก</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% for(var i=0 ; i<result.length ; i++) { %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= result[i].username %>
                    </td>
                    <td>
                        <%= result[i].firstname %>
                        <%= result[i].lastname %>
                    </td>
                    <td>
                        <%= result[i].email %>
                    </td>
                    <td>
                        <%= result[i].permission %>
                    </td>
                    <td>
                        <button onclick="view('<%= result[i]._id %>')" class="btn-show"><span><i
                                    class="fas fa-eye"></i></span></button>
                        <button onclick="edit('<%= result[i]._id %>')" class="btn-edit"><span><i
                                    class="fas fa-edit"></i></i></span></button>
                        <button onclick="del('<%= result[i]._id %>')" class="btn-remove"><span><i
                                    class="fas fa-trash-alt"></i></span></button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</div>

<!-- contenr -->




</body>

</html>
<%- include('../layouts/javascript'); -%>
<script>
    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            td2 = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function del(_id) {
        window.location = "/user/delete/" + _id;
    }

    function view(_id) {
        window.location = "/user/view/" + _id;
    }

    function edit(_id) {
        window.location = "/user/edit/" + _id;
    }
</script>